html{
    box-sizing: border-box;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
}
*,*:before,*:after{
    box-sizing: inherit;

}
.main{
    border: 2px solid;
    height: 100%;
    margin: 0 auto;
    max-width: 1100px
}
.logo{
    height: 3.5rem;
    width: 21.875rem;
    
}
.navbar{
    display: block;
    text-align: center;
}

.navbarLink{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: solid;
    border-bottom: 1px solid #bfbfbf;
    /*box-shadow: 0 2px 5px rgb(0 0 0 / 20%);*/
    
}
.navbarLink .link2{
    display: flex;
    flex-basis: 100%;
}
.link2{
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif; 
}
.link2 >*{
    flex:1 1;
    display: inline-block;
}
.link2 .icon{
    height: 1rem;
    width: 1rem;
}

.navbarLink ul{

    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;

}
.navbarLink li{

   flex:1 1;
   display: inline-block;
   padding-bottom: 8.25px;
   margin-right: 16.5px;
   position: relative;
}
.link1 a{
    text-decoration: none;
    color: #002837;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.1s;
   
}
.navbarLink a:hover{
    color:#00b3e5;
}
.navbarLink a:hover + div{
    /*display:block;*/
    height: 15%;
}
.line{
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-color: #002837;
    width:100%;
    height: 0;
    transition: all 0.1s;

}
.navbarLink .blueLink{
    color:#00b3e5;
}
.bl{
    color:#00b3e5;
    text-decoration: none;
}
.writer a{
    color:#00b3e5;
    text-decoration: none;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -0.1px;
}
.header{
    display: flex;
    margin-top: 30px;
}
.header div{
    flex:1 1;
}
.newsLetter{
    display: flex;
    flex-direction: column;
}
.newsLetter a{
    display: inline;
    text-align: left;
    text-decoration: none;
    transition: all 0.1s;
}
.newsLetter .nl{
    color: #00b3e5;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
    font-weight: 700;
    letter-spacing: -1px;

}
.reference{
    font-family: sans-serif;
    font-weight: 700;
}
.nl:hover{
    
        color:#288eb7;
}
.newsLetter .singup{
    color: #999;
    font-family: "PT Serif",Georgia,serif!important;
}
.subscribe{
    text-align: right;
    display: block;
    
}
.subscribe button{
    background-color: #00b3e5;
    border: none;
    display: inline-block;
    padding: 7.333px;
    width: 15rem;
    color:#fff;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    border-radius: 0.188rem;
    font-size: 14px;
    text-transform: uppercase;

}
.title{
    font-size: 50px;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 51px;
    line-height: 3.1875rem;
    
}
.title p{
    margin-bottom: 15px;
}
.social{
    margin-bottom: 11px;
}   
.social a{
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 14.667px;
}
.category{
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    margin-bottom: 11px;
}
.category a{
    font-weight: 700!important;
    color: #484848;
    text-decoration: none;

}
.category a:hover{
    text-decoration: underline;
    
}
.category span{
    color: #484848;

}   

.social .facebook{
    background-color: #3b5998;
}
.social .retards{
    background-color:#1da1f2;
}
.social .whatsapp{
    background-color:#4dc247;
}
.social .linkedin{
    background-color:#0077b5;
}
.social .reddit{
    background-color:#ff5700;   
}
.social .mail{
    background-color:#999;
}
.social .print{
    background-color:#999;
}
.mainSection{
    display: flex;
    
}
.mainSection .articule{
    flex:4 1;
}
.mainSection .sidebar{
    flex:1 1;
}
.hero img{
    max-width: 100%;
    display: block;
}
.paragraph{
    color: #4d4d4d;
    display: block;
    font-family: "PT Serif",Georgia,serif;
    font-size: 17px;
    line-height: 25px;
}
.readMore{
    background-color: #f5f5f5;
    padding: 11px;

    
}
.readMore a{
    font-size: 15px;
    font-weight: 700;
    color:#00b3e5;
    text-decoration: none;
    letter-spacing: -0.1px;
    margin-left: 4px;
}
.readMore h4{
    margin: 0;
    color: #000;
    font-family:Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
}
.topic span{
    font-weight: 700;
    font-size: 16px;
    color: #4d4d4d;
}
.topic  button{
    background-color:#005587; 
    color:#fff;
    border: none;
    border-radius: .188rem;
    font-weight: 700;
    font-size: 16px;
    transition: all .2s;
    padding:7.5px;
}
.topic button:hover{
 background-color: #288eb7;
}
.recommendedArticule {
    display: flex;
}
.recommendedArticule img{
   display: block;
   max-width: 100%;
   padding-right: 10px;
   position: relative;
}
.imgParent{
    position: relative;
}
.recommendedArticule .recommendedCategory{
    position: absolute;
    top:0;
    left:0;
}
.recommendedArticule a{
    color: #002837;
    text-decoration: none;
    
}
.recommendedArticule a:hover{
    color: #00b3e5;
}