html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;

}
.main{
    border: 2px solid;
    height: 100%;
    margin: 0 auto;
    max-width: 70.62495rem;
}
.logo{
    height: 3.5rem;
    width: 21.875rem;
    
}
.navbar{
    display: block;
    text-align: center;
}

.navbarLink{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbarLink .link2{
    display: flex;
    flex-basis: 100%;
}
.link2{
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif; 
}
.link2 >*{
    flex:1 1;
    display: inline-block;
}
.link2 .icon{
    height: 1rem;
    width: 1rem;
}

.navbarLink ul{

    list-style: none;
    display: flex;
    padding-left: 0;
 
}
.navbarLink li{

   flex:1 1;
   border:2px red;
   border-style: solid; 
   display: inline-block;
   padding-bottom: 8.25px;
   margin-right: 16.5px;
}
.link1 a{
    text-decoration: none;
    color: #002837;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.1s;
   
}
.navbarLink a:hover{
    color:#00b3e5;
}

.header{
    display: flex;
    margin-top: 30px;
}
.header div{
    flex:1 1;
}
.newsLetter{
    display: flex;
    flex-direction: column;
}
.newsLetter a{
    display: inline;
    text-align: left;
    text-decoration: none;
    transition: all 0.1s;
}
.newsLetter .nl{
    color: #00b3e5;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif!important;
    font-weight: 700;
    letter-spacing: -.0375rem;

}
.nl:hover{
    
        color:#288eb7;
}
.newsLetter .singup{
    color: #999;
    font-family: "PT Serif",Georgia,serif!important;
}
.subscribe{
    text-align: right;
    display: block;
    
}
.subscribe button{
    background-color: #00b3e5;
    border: none;
    display: inline-block;
    padding: 7.333px;
    width: 15rem;
    color:#fff;
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
    font-weight: 700;
    border-radius: 0.188rem;
    font-size: 14px;
    text-transform: uppercase;

}
.title{
    font-size: 36px;
}
.mainSection{
    display: flex;
    
}
.mainSection .articule{
    flex:4 1;
}
.mainSection .sidebar{
    flex:1 1;
}
.hero img{
    max-width: 100%;
    display: block;
}